@{
/**Author: Irin Avery
 *Student Number: 200260949
* Date Modified: Aug 18 2016
* Short Version History: Scaffolded the Index view for Genres
* Description: A List of Genres from the database
*/
}


@model IEnumerable<FinalExam.Models.Genre>

@{
   ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        
    </tr>
}

</table>
